<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onCloseMenu()">
        <mat-icon>home</mat-icon>
        <span class="navigation-list-label">Inicio</span>
    </a>
    <a mat-list-item routerLink="/productos" (click)="onCloseMenu()">
        <mat-icon>list</mat-icon>
        <span class="navigation-list-label">Inventario</span>
    </a>
    <a mat-list-item routerLink="/facturacion" (click)="onCloseMenu()">
        <mat-icon>add_shopping_cart</mat-icon>
        <span class="navigation-list-label">Facturación</span>
    </a>
</mat-nav-list>